.heading-text-animation {
  animation: movesUp 1s ease-in;
}

.luxury-text-animation {
  animation: movesUp 1.1s ease-out 1.35s;
  animation-fill-mode: backwards;
}

.serenity-text-animation {
  animation: movesDown 1.1s ease-out 1.35s;
  animation-fill-mode: backwards;

  @media only screen and (max-width: $bp-small) {
    animation: movesUp 1.1s ease-out 1.35s;
    animation-fill-mode: backwards;
  }
}

.button-animation {
  animation: movesUp 1.1s ease-in 1.35s;
  animation-fill-mode: backwards;
}

.movesUp-animation {
  animation: movesUp 1.1s ease-in;
}

.zoomIn-animation {
  animation: zoomIn 1.1s ease-in 1.35s;
  animation-fill-mode: backwards;
}

.movesDown-animation {
  animation: movesDown 1.1s ease-in;
}

.movesInLeft-animation {
  animation: moveInLeft 1.1s ease-in-out;
}

.nav-bg-color {
  background-color: black;
}
